.icon {
  i {
    width: 100%;
    height: 100%;

    &.sdg-1 {
      background-image: url("../assets/sdgs/1.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-2 {
      background-image: url("../assets/sdgs/2.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-3 {
      background-image: url("../assets/sdgs/3.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-4 {
      background-image: url("../assets/sdgs/4.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-5 {
      background-image: url("../assets/sdgs/5.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-6 {
      background-image: url("../assets/sdgs/6.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-7 {
      background-image: url("../assets/sdgs/7.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-8 {
      background-image: url("../assets/sdgs/8.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-9 {
      background-image: url("../assets/sdgs/9.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-10 {
      background-image: url("../assets/sdgs/10.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-11 {
      background-image: url("../assets/sdgs/11.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-12 {
      background-image: url("../assets/sdgs/12.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-13 {
      background-image: url("../assets/sdgs/13.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-14 {
      background-image: url("../assets/sdgs/14.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-15 {
      background-image: url("../assets/sdgs/15.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-16 {
      background-image: url("../assets/sdgs/16.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sdg-17 {
      background-image: url("../assets/sdgs/17.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
