#tooltip {
  background: #fff;
  border-radius: 7.5px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  max-width: 250px;
  padding: 15px;
  position: relative;
  z-index: 10;

  @media (prefers-color-scheme: dark) {
    background: #212125;
  }

  #arrow,
  #arrow::before {
    background: #fff;
    height: 18px;
    left: -4.5px;
    position: absolute;
    width: 18px;
    z-index: 1;

    @media (prefers-color-scheme: dark) {
      background: #212125;
    }
  }

  #arrow {
    visibility: visible;
  }

  #arrow::before {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    content: '';
    transform: rotate(45deg);
    visibility: visible;
  }
}
