# private variables only accessed from server
# see https://kit.svelte.dev/docs/modules#$env-static-private
# adding to private variables here, you should also add it in $lib/variables/private.ts
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_ACCESS_KEY=
DATABASE_CONNECTION=
# Variables for Azure Active Directory
# On UNIX systems you can use `openssl rand -hex 32` or 
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=
AZURE_AD_TENANT_ID=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=

# public variables accessed from both frontend and server
# see https://kit.svelte.dev/docs/modules#$env-static-public
# adding to public variables here, you should also add it in $lib/variables/public.ts
PUBLIC_TITILER_ENDPOINT=
PUBLIC_AZURE_BLOB_TOKEN=
PUBLIC_AZURE_URL=
PUBLIC_MARTIN_API_ENDPOINT=
PUBLIC_PGTILESERV_API_ENDPOINT=