!.env.example
.DS_Store
.env
.env.*
!.env.example
!.env.docker.example
.idea
.vscode/
/.svelte-kit
/build
/data/tags.json
/data/stac-*
/package
coverage
data/tags.json
env.ts
node_modules
yarn-error.log
static/docs
static/smui*.css
tmp/
static/storybook
.turbo