# private variables accessed from server
# see https://kit.svelte.dev/docs/modules#$env-dynamic-private
AZURE_STORAGE_ACCOUNT=

# public variables accessed from both frontend and server
# see https://kit.svelte.dev/docs/modules#$env-static-public
PUBLIC_TITILER_ENDPOINT=
