// customise colors
$undp_primary: #d12800;
$undp_secondary: #006eb5;
$undp_grey_darker: #232e3d;
$undp_gray_light: hsl(0, 0%, 71%);
// customise font
$undp_font: '"ProximaNova", sans-serif';
$black: #000;

@use "bulma/sass" with (
  // colors
  $primary: $undp_primary,
  $blue: $undp_secondary,
  $link: $undp_secondary,
  $grey-darker: $undp_grey_darker,
  $grey-light: $undp_gray_light,

  // fonts
  $family-sans-serif: $undp_font,
  $family-primary: $undp_font,

  $box-shadow: 0.2em 0.2em 3px $undp_gray_light,

  // tabs
  // https://github.com/jgthms/bulma/blob/main/sass/components/tabs.scss
  $tabs-link-active-color: $undp_primary,
  $tabs-link-active-border-bottom-color: $undp_primary,
  $tabs-toggle-link-active-background-color: $undp_primary,
  $tabs-toggle-link-active-border-color: $undp_primary,
  $tabs-toggle-link-active-color: white,
  $tabs-boxed-link-radius: 0,
  $tabs-toggle-link-radius: 0,
  $tabs-border-bottom-width: 2px,
  $tabs-border-bottom-color: #edeff0,
  $tabs-link-hover-border-bottom-color: #a9b1b7,

  // inputs
  // https://github.com/jgthms/bulma/blob/main/sass/form/shared.scss
  $input-radius: 0,
  $input-shadow: inset 0.1px 2px rgba($black, 0.1),
  // $input-focus-box-shadow-size: 0 0 0 0.08em,
  // $input-focus-box-shadow-color: rgba(0, 0, 0, 0.75),
  $input-focus-shadow-size: 0 0 0 0.08em,
  $input-icon-color: $black,
  $input-icon-hover-color: $black,
  $input-icon-focus-color: $black,
  $input-border-l: 0%,

  // breadcrumbs
  // https://github.com/jgthms/bulma/blob/main/sass/components/breadcrumb.scss
  $breadcrumb-item-color: $undp_primary,
  $breadcrumb-item-hover-color: #ee402d,
  $breadcrumb-item-separator-color: $undp_primary,

  // table
  // https://github.com/jgthms/bulma/blob/main/sass/elements/table.scss
  $table-head-background-color: #edeff0,
  $table-head-cell-border-width: 0,

  // modal
  // https://github.com/jgthms/bulma/blob/main/sass/components/modal.scss
  $modal-background-background-color: rgba(247, 247, 247, 0.8),
  // button
  // https://github.com/jgthms/bulma/blob/main/sass/elements/button.scss
  // customizing padding of button class makes button collapse
  // $button-padding-vertical: 1rem,
  // $button-padding-horizontal: 1.5rem
);

// no input-boder-color and $input-focus-color and $input-hover-border-color in bulma v1,
// so overwrite them forcely
.textarea,
.input {
  border-color: $black !important;

  &:focus {
    border-color: $black !important;
  }

  &:hover {
    border-color: $black !important;
  }
}

// borderless for button class
.button {
  border-radius: 0;
  border-color: $black !important;

  // overwrite $button-padding-horizontal to 1.5 rem, but use default 1rem for is-small
  // $button-padding-horizontal = 1rem make button size collapse, so remove it from customized style
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.is-small {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
