[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.4.3"
mkdocs-material = "==9.1.13"
importlib-metadata = "*"
mkdocs-video = "==1.5.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
build = "mkdocs build"
serve = "mkdocs serve"
