name: Deploy svelte UNDP design storybook

on:
  push:
    branches: [develop]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: 8.6.1
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm

      - name: install dependencies
        run: pnpm install --frozen-lockfile

      - name: build storybook
        run: |
          pnpm --filter="./packages/svelte-undp-design" build
          pnpm --filter="./packages/svelte-undp-design" build-storybook

      - name: deploy storybook to Blob container
        if: ${{ (github.ref == 'refs/heads/develop') }}
        uses: bacongobbler/azure-blob-storage-upload@main
        with:
          source_dir: packages/svelte-undp-design/storybook-static
          container_name: $web
          connection_string: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING_STORYBOOK }}
          # WARNING: this will overwrite existing blobs in your blob storage
          sync: "true"
