name: Docker Image CI

on:
  push:
    branches: ["develop"]
  pull_request:
    workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: undp-data/geohub
  AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
  AZURE_STORAGE_ACCESS_KEY: ${{ secrets.AZURE_STORAGE_ACCESS_KEY }}
  AZURE_STORAGE_ACCOUNT_UPLOAD: ${{ secrets.AZURE_STORAGE_ACCOUNT_UPLOAD }}
  AZURE_STORAGE_ACCESS_KEY_UPLOAD: ${{ secrets.AZURE_STORAGE_ACCESS_KEY_UPLOAD }}
  DATABASE_CONNECTION: ${{ secrets.DATABASE_CONNECTION }}
  MARTIN_API_ENDPOINT: ${{ secrets.MARTIN_API_ENDPOINT }}
  PGTILESERV_API_ENDPOINT: ${{ secrets.PGTILESERV_API_ENDPOINT }}
  TITILER_ENDPOINT: ${{ secrets.TITILER_ENDPOINT }}
  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
  AZURE_AD_TENANT_ID: ${{ secrets.AZURE_AD_TENANT_ID }}
  AZURE_AD_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
  AZURE_AD_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
  AZURE_SERVICE_BUS_CONNECTIONSTRING: ${{ secrets.AZURE_SERVICE_BUS_CONNECTIONSTRING }}
  AZURE_SERVICE_BUS_QUEUE_NAME: ${{ secrets.AZURE_SERVICE_BUS_QUEUE_NAME }}
  GEOHUB_GITHUB_ID: ${{ secrets.GEOHUB_GITHUB_ID}}
  GEOHUB_GITHUB_SECRET: ${{ secrets.GEOHUB_GITHUB_SECRET}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: |
          IMAGE_NAME=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:$(date +%s) ./docker-build.sh
